/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
	background:#F3F3F4;
}
.navbar-main{
	background:#01579b;
}
.navbar-main .navbar-brand{
	color: #FFFFFF;
}
.navbar-main .navbar-nav>li>a{
	color: #FFFFFF;
}
.navbar-main .navbar-nav>li>a:hover{
	color: #FFFFFF;
	background:#039be5;
}
.navbar-main .navbar-nav>li>a:focus{
	color: #FFFFFF;
}
.bg-w{
	background-color:#FFFFFF;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.ibox{
	margin:0 0 0px 0;
	padding:0px;
	background: #FFFFFF;
	min-height: auto;
}
.ibox .heading{
	background-color: #FFFFFF;
	border:0px solid #e7eaec;
	border-top-width: 2px;
	padding:12px 15px 7px 15px;
	margin-bottom:0px;
	min-height: 48px;
}
.ibox .heading h5{
	display: inline-block;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  font-weight: 600;
  float: left;
}
.ibox .heading .toolbar{
	display: block;
  float: none;
  margin-top: 0;
  position: relative;
  padding: 0;
  text-align: right;
}
.ibox .toolbar>a{
	cursor: pointer;
  margin-left: 5px;
  color: #01579b;
}
.ibox .ibox-content{
	clear:both;
	background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
.ibox.ibox-center{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.row-no-spacing{
	margin:0px;
}
.no-padding{
	padding:0px;
}
.col-with-border{
	border:1px solid #ddd;
}
.list-sender{
	max-height: 400px;
	overflow-x:hidden;
	overflow-y:scroll;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.ibox{
		//min-height: 329px;
	}
	.add-padding-top-30{
		padding-top:30px !important;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}